doctype 5
html(lang="en")
	head
		block head
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic|Open+Sans:600")
			script
				var _gaq = _gaq || [];
				
				_gaq.push(
					["_setAccount", "#{gaid}"],
					["_trackPageview"]
				);
				
				(function() {
					var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
					ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
					var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
				})();
	body
		div.container
			block content