/*** setup ***/
@import "bootstrap/bootstrap";
@import "bootstrap/responsive-767px-max";
@import "bootstrap/responsive-768px-979px";

@linkColorHover: spin(@linkColor, -60);

@sansFontFamily: "Cantarell", sans-serif;

@baseFontSize: 14px;

@headingsFontFamily: "Open Sans", sans-serif;
@headingsFontWeight: 600;

@gridColumns: 10;


/*** global ***/
h1 {
	font-size: 36px;
	padding: @baseLineHeight / 2 0;
}
h1 > small {
	line-height: @baseLineHeight;
}

.thumbnails-centered > li {
	float: none;
	margin: 0 auto;
}


/*** layout ***/
#footer {
	font-style: italic;
	margin-bottom: @baseLineHeight;
	text-align: center;
}