doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="alternate", type="application/rss+xml", href="/feed.xml")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic")
		link(rel="stylesheet", href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css")
		block head
	
	body
		div.container
			block content
		
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','#{gaid}','auto');ga('send','pageview');