/*** setup ***/
@import "bootstrap/bootstrap";
@import "bootstrap/responsive-767px-max";

@linkColorHover: spin(@linkColor, -60);

@sansFontFamily: "Cantarell", sans-serif;

@headingsFontFamily: "Open Sans", sans-serif;
@headingsFontWeight: 600;

@gridColumnWidth: @gridColumnWidth768;


/*** global ***/
h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 > small {
	font-size: 18px;
}

textarea {
	font-family: @monoFontFamily;
}

.images {
	font-size: 0;
	margin: @baseLineHeight / 2 0;
	text-align: center;
	
	img {
		.border-radius(4px);
		.box-shadow(0 1px 1px rgba(0, 0, 0, .075));
		.box-sizing(border-box);
		border: 1px solid #DDD;
		padding: 4px;
	}
	
	img + img, a + a {
		margin-left: @baseLineHeight;
	}
}


/*** layout ***/
#essay-info {
	font-style: italic;
	text-align: center;
}

#essay-more {
	margin-bottom: @baseLineHeight;
	text-align: center;
}