extends global

block head
	title At Home Among Strangers
	link(rel="stylesheet", href="global.css")

block content
	h1
		| At Home Among Strangers
		small by a stranger among his own
	
	ul.list-unstyled
		each essay in list
			li
				a(href="#{essay.path}") #{essay.name}
				span.text-muted.pull-right.hidden-xs #{essay.date}
	
	hr
	
	p#essay-info
		| © 2014 
		a(href="http://tkaz.ec") Teddy Cross
		| , shared under the 
		a(href="http://creativecommons.org/licenses/by/3.0/") CC BY-SA 4.0 license
		| . Sources released 
		a(href="https://github.com/tkazec/essays") on GitHub
		| .